body {
    background: #ffffff;
    margin: 120px;
    height: 120px;
    }
.display {
    overflow: auto;
    background-color: white;
    height: 50px;
}
table {
    background-color: rgb(255, 255, 255);
    height: 388px;
    width: 253px;
    border: 2px solid;
}
tr {
    background-color: aquamarine;
}
.wrapper {
	margin: 0 auto;
	overflow: hidden;
    width: 251px;
    height: 386px;
	background: url(fon.jpg);
	border-radius: 10px;
	border: 1px solid #949493;
	box-shadow: 3px 3px 7px #000;
}
input {
    height: 100%;
    width: 100%;
    background-color: rgb(69, 226, 205);
}
.displaytwo {
    height: 40px;
}
